<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Airplane_Seat_Booking_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Airplane_Seat_Booking_System.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <partial name="~/Views/Shared/Partials/_HeaderPartial.cshtml"/>

        <div id ="page-id">
            <div id ="flight-schedule" style="margin-top: 0px;">
                <section class="hero" rel ="preload" href="site.css">
                    <div class="middle-container">
                        <partial name="~/Views/Shared/Partials/_MainPagePartial.cshtml" />
                    </div>
                </section>
            </div>
        </div>
        
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - All Copyrights Reserved By Mervan - 
                <a href="https://github.com/mervanAksu" target="_blank">
                    <img class="github-logo" src="~/logo-github.png"/>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
