<div class="col-12 col-md-12 col-lg-12 mb-20 float-start">
    <div class="info-title d-none d-sm-block font-weight-500">
        <h1 class="text-uppercase">
            <span style="color: white;">Merhaba</span>
        </h1>
        <h2 style="color:white;">Nereyi Keşfetmek İstersiniz?</h2>
    </div>
    <div class="booker">
        <ul class="nav nav-tabs font-weight-700 overflow-hidden" id="schedule-booker" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="flight-tab" data-bs-toggle="tab" data-bs-target="#fligt-tab-pane" type="button" role="tab" aria-controls="flight-tab-pane" aria-selected="true">
                    <span class="tab-plane-label">Uçuş</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="checkin-tab" data-bs-toggle="tab" data-bs-target="#checkin-tab-pane" type="button" role="tab" aria-controls="checkin-tab-pane" aria-selected="false" tabindex="-1">
                    <span class="tab-checkin-label">Check-in / Rezervasyonu Yönet</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="flight-status-tab" data-bs-toggle="tab" data-bs-target="#fligt-status-tab-pane" type="button" role="tab" aria-controls="fligt-status-pane" aria-selected="false" tabindex="-1">
                    <span class="tab-fligt-status-panel" style="color: red;">Uçuş Durumu</span>
                </button>
            </li>
        </ul>
    </div>
</div>
